*{
    margin: 0;
}
:root{
    --background-color: hsla(216, 96%, 9%, 0.807);
    --color: #fff;
    --header-background:#333;
    --answer-bg:hsla(0, 0%, 50%, 0.05);
    --answer-color: #281c1c;
    --border-color: hsla(180, 0%, 44%, 0.535);
}
body{
    font-family: Arial, sans-serif;
}
:root{
    --background-color: hsla(216, 96%, 9%, 0.807);
    --color: #fff;
    --header-background:#333;
    --answer-bg:hsla(0, 0%, 50%, 0.234);
}
header{
    text-align: center;
    margin: 0 0 15px 0;
    padding: 15px 0;
    background-color: #333;
    color: #fff;
}
header a{
    margin: 0;
    position: absolute;
    left: 50px;
    padding: 10px 15px;
    font-size: 12px;
    border: solid;
    color: #fff;
    box-shadow: 0 0 10px rgb(113, 113, 113);
    border-radius: 5px;
}
.container{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
} 
.parabolaGF-container{
    width: 350px;
    height: 100%;
    padding: 20px; 
    border: none;
    border-radius: 5px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(113, 113, 113);
}
.parabolaGF-container h1{
    font-size: 20px;
    text-align: center;
}
.parabolaGF-container input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.transform {
    padding: 10px 20px;
    background-color: hsla(122, 60%, 48%, 0.659);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    display: flex;
    text-align: justify; 
    font-weight: bold;
}
/*Answer Container*/
.parabolaGF-answer-container{
    padding: 20px;
    width: 600px;
    box-shadow: 0 0 10px rgb(113, 113, 113);
    border-radius: 10px;
    background-color: #fff;
}
.answer{
    border: solid 1px var(--border-color);
    padding: 10px;
    margin: 10px 0;
    width: 95%; 
} 
.parabolaGF-answer-container .answer-title{
    font-size: 30px;
    text-align: center;
}
.parabolaGF-answer-container h1{
    font-size: 18px;
} 

@media only screen and (max-width: 643px) {
    header h1{
        font-size: 20px;
        margin: 35px 5px;
    }
    header a{
        top: 10px;
        left: 45%;
        padding: 5px 10px;
        font-size: 10px;
    }
    .parabolaGF-container{
        margin: 15px 10px;
    }
    .parabolaGF-answer-container{
        margin: 20px 8px;
    }
    .parabolaGF-answer-container h1{
        font-size: 14px;
    }
}