*{
   margin: 0;
   padding: 0;
}
:root{
    --background-color: hsla(216, 96%, 9%, 0.807);
    --color: #fff;
    --header-background:#333;
    --gray-background:hsla(0, 0%, 50%, 0.1);
    --font-family: sans-serif;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    padding: 10px 0;
    width: 100%;
    background-color: var(--header-background);
}

header .logo{
    font-size: 30px;
    font-weight: bold;
    color: hsla(202, 100%, 50%, 0.68);
    margin-left: 200px;
}

header ul{
    display: flex;
}

header ul li{
    list-style: none;
    margin: 0 50px;
}

header ul li a {
    text-decoration: none;
    color: #fff;
}

/*content*/

.container{
    height: 100vh;
    width: 100%;
    display: flex;
}
/*ALL THE CONIC*/
.conics-container{
    width: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
}
/*SIDE NAVIGATION*/
.side-nav-btn{
    display: none;
    margin: 0;
    padding: 5px;
    color: #fff;
    background-color: hsla(0, 0%, 50%, 0.337);
}
.side-nav{
    width: 300px;
    height: 100%;
    overflow: hidden;
    display: block;
    background: var(--background-color); 
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px);
}
.side-nav ul{
    text-align: center;
}
.side-nav ul li{
    padding: 10px 0;
    
}
.side-nav ul li a{
    text-decoration: none;
    list-style: none;
    font-size: 25px;
    color: var(--color); 
    padding: 5px 95px;
}
/*TRANSFORM*/
.btn button{
    padding: 10px 0;
    margin-top: 10px;
    border: none;
    background-color: transparent;
}
.btn button a{
    text-decoration: none;
}
/*HOVER*/
.side-nav ul li a:hover{
    color: var(--color);
    background-color: hsla(0, 0%, 50%, 0.2);
}
.side-nav h1{
    font-size: 20px;
    text-align: center;
    margin: 0 ;
    padding: 10px;
    color: hsla(202, 100%, 50%, 0.68);
}
.side-nav button a{
    background-color: var(--background-color);
    margin: 6px 20px;
    padding: 10px;
    border-radius: 10px;
    color: var(--color);
    list-style: none;
}

/*THE CONTENT*/
.introduction, .about-page, .circle-container, .ellipse-container, .parabola-container, .hyperbola-container{
    width: 100%;
    padding: 0;
    height: 100vh;
}

.conic-sections-img{
    width: 250px;
    height: 200px;
}
.conic-sections{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
/*CIRCLE*/

.circle, .ellipse, .parabola, .hyperbola{

    justify-content: center;
    margin: 30px 0;
}
.description{
    background-color: hsla(0, 1%, 37%, 0.172);
    word-wrap: break-word;
    width: 240px;
    height: 100px;
    line-height: 20px;
    padding: 10px 0 35px 10px;
    font-family: var(--font-family);
}
/*INTRODUCTION*/
.intro-title{
    text-align: center;
    margin: 20px 0;
    font-family: var(--font-family);
}
.first-intro{
    margin: 10px 30px;
    padding: 10px;
    font-family: var(--font-family);
    font-size: 20px;
    text-align: justify;
    word-wrap: break-word;
    background-color: var(--gray-background);
}
/*2nd*/
.degenerate-title{
    margin: 10px 20px;
}
.degenerate-conics{
    width: 80%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}
.degenerate-conics p{
    font-size: 20px;
    width: 300px;
    margin: 50px 0;
    padding: 20px;
    background-color: var(--gray-background);
}
.degenerate-img{
    height: 400px;
    width: 500px;
}

@media only screen and (max-width: 643px) {
    body {
      background-color: hsla(216, 96%, 9%, 0.807);
      font-family: sans-serif;
    }
    /**/
    .conics-container{
        width: 100%;
        height: 100%;
        text-align: justify;
        justify-content: center;
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        overflow: scroll;
        color: var(--color);
    }
    /*Intro*/
    .introduction{
        color: var(--color);
        margin: 20px 0;
        padding: 0;
        text-align: center;
    }
    .introduction a img{
        width: 150px;
        height: 160px;
    }
    .introduction .intro-title{
        font-size: 20px;
        text-align: center;
    }
    .introduction .first-intro{
        font-size: 15px;
        text-align: justify;
        line-height: 20px;
        padding: 10px 10px;
        margin: 0 0 20px 0;
    }
    .circle, .ellipse, .parabola, .hyperbola{
        margin: 10px;
        display: flex;
        color: var(--color);
    }
    .description{
        margin: 0;
        width: 150px;
        height: 111px;
        font-size: 13px;
        word-wrap: break-word;
        text-align: left;
    }
    /*HEADER*/
    header{
        background-color: var(--header-background);
    }
    header .logo{
        font-size: 20px;
        color: rgba(151, 151, 255, 0.98);
        margin: 0;
    }
    .nav-bar ul li{
       margin: 5px 8px;
       font-size: 14px;
    }
    .nav-bar ul li a{
        color: var(--color);
        font-weight: bold;
    }
    /*SIDENAV*/
    .btn button{
        background-color: transparent;
    }
    .btn button a{
        background-color: #333;
        margin: 0 5px;
        font-weight: bold;
    }
    .side-nav-btn{
        display: flex;
        font-size: 20px;
        border: none;
        margin: 10px 15px;
        position: absolute;
        color: var(--color);
    }
    .side-nav {
        text-align: justify;
        width: 100%;
        position: absolute;
        left: 0;
        transform: translateX(-100%);
        height: 100%;
        background: rgba(255, 255, 255, 0.2); 
        backdrop-filter: blur(10px); 
        -webkit-backdrop-filter: blur(10px);
        transition: transform 0.3s ease;
    }
    
    
    .side-nav .open {
        transform: translateX(0); 
    }
    
    .side-nav h1{
        font-size: 20px;
    }
    .side-nav .btn a{
        font-size: 10px;
        
    }
    .side-nav ul li a{
        padding: 0;
        color: #333;
    }
  }
