.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
} 
.header{
    text-align: center;
}
.circleSF-container{
    border: solid; 
    width: 500px;
    height: 100%;
    padding: 20px;
}
label{
    font-size: 15px;
    font-weight: bold;
}

.circleSF-container input{
    width: 100%;
    padding: 10px 5px;
}
.transform{
    margin: 20px;
    padding: 8px 5px;
    font-weight: bold;
    color: #fff;
    background-color: hsla(120, 100%, 25%, 0.655);
}
/*ANSWERS*/
.circle-answer-container{
    border: solid;
    text-align: center;
    padding: 10px;
    margin: 15px 0;
    width: 700px;
    height: 100%;
    text-align: justify;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.title{
    margin: 0;
    padding: 10px;
    background-color: green;
    text-align: center;
}
.steps, .result{
    margin: 20px 10px;
}
.steps div, .result{
    background-color: gray;
    padding: 10px;
}
.steps h1 {
    font-size: 20px;
}
.final{
    font-size: 30px;
}

/*Expand*/
.expanding{
    display: none;
    margin-bottom: 10px;  
    margin: 0;
    padding: 0;
    color: #fff;
} 
.expanding p{
    margin: 0;
    line-height: 10px;
}
.expanding h1{
    font-size: 15px;
    color: black;
}
.expand-btn{
    padding: 5px 10px;
    margin: 0 10px;
}

@media only screen and (max-width: 600px) {
    .steps{
        font-size: 15px;
    }
    .steps h1{
        font-size: 17px;
    }
}