.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.header{
    text-align: center;
}
.circleSF-container{
    border: solid; 
    width: 500px;
    padding: 20px;
}
 
.circleSF-container input{
    width: 100px;
   
}
.circleSF-container .transform{
    width: 100px;
}
.circle-answer-container{
    border: solid;
    margin-top: 50px;
    text-align: center;
    padding: 50px;
    width: 400px;
}