body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
} 

header{
    text-align: center;
}
header a{
    margin: 0;
    position: absolute;
    left: 50px;
    padding: 10px 15px;
    font-size: 12px;
    border: solid;
    box-shadow: 0 0 10px rgb(113, 113, 113);
    border-radius: 5px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.hyperbolaSF-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 300px;
}
.hyperbolaForm{
    display: flex;
    flex-wrap: wrap;
}

.hyperbolaSF-container h1 {
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 5px 0;
}

input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.hyperbolaSF-container button {
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/**/
/*OPTIONS*/
select{
    width: 35px;
    height: 20px;
}
/**/
.steps h1{
    font-size: 15px;
}
.answer{
    background-color: #ccc;
    width: 100%;
    padding: 10px;
}
/*HYPERBOLA ANSWER CONTAINER*/
.hyperbolaSF-answer{
    border: solid;
    padding: 20px 50px;
    width: 600px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}
/*Flex*/
.center-container h1, .orri-container h1{
    font-size: 18px;
    margin: 10px 0;
}
.flex{
    display: flex;
    align-items: center; 
}

@media only screen and (max-width: 643px) {
    header h1{
        font-size: 20px;
        margin-top: 40px;
    }
    header a{
        top: 5px;
        left: 10px;
        padding: 5px 10px;
        font-size: 10px;
    }
    .hyperbolaSF-container{
        margin: 0 5px;
    }
    .hyperbolaSF-answer{
        border: solid #ddd;
        padding: 10px;
        margin: 20px 5px;
        width: 100%;
        font-size: 14px;
    }
    .answer{
        width: 100%;
        padding: 10px 0 10px 5px;
        font-weight: bold;
    }
}