*{
    font-family: Arial, sans-serif;
    margin: 0;
} 
:root{
    --background-color: hsla(216, 96%, 9%, 0.807);
    --color: #fff;
    --header-background:#333;
    --answer-bg:hsla(0, 0%, 50%, 0.234);
}

/*HEADER*/
header{
    text-align: center;
    padding: 10px;
    color: #fff;
    background-color: var(--header-background);
} 
header a{
    margin: 0;
    position: absolute;
    left: 50px;
    padding: 10px 15px;
    font-size: 12px;
    border: solid;
    box-shadow: 0 0 10px rgb(113, 113, 113);
    border-radius: 5px;
    color: #fff;
}
/*CONTAINER*/
.ellipse-calcu{
    border: solid;
    border-radius: 10px;
    width: 300px;
    height: 100%;
    padding: 30px;
    margin: 0;
    color: #333; 
}
.ellipse-calcu h1{
    margin: 10px auto;
    font-size: 20px;
    text-align: center;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px 0;
}
.ellipse-calcu input{
    display: flex;
    padding: 8px;
    margin: 0 auto;
    width: 100%;
}
.answer-container{
    border: solid;
    width: 600px;
    border-radius: 10px;
    visibility: hidden;
}
.answer-container .answer-title{
    padding: 15px;
    font-size: 20px;
    text-align: center;
}
/*STEPS*/
.steps{
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.steps h1{
    font-size: 17px;
} 
.steps div{
    background-color: var(--answer-bg);
    padding: 10px;
}
button{
    background-color: hsla(120, 100%, 25%, 0.613);
    font-weight: bold;
    padding: 10px 14px;
    width: 100%;
} 
 
@media only screen and (max-width: 643px) {
    *{
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    header h1{
        font-size: 20px;
        margin: 30px 0;
    }
    header a{
        top: 5px;
        left: 10px;
        padding: 5px 10px;
        font-size: 10px;
    }
    /**/
    .ellipse-calcu{
        width: 100%;
        margin: 0 10px;
        padding: 15px;
    }
    .transform-btn{
        width: 100%;
        color: #fff;
        font-weight: 600;
    }
    .ellipse-calcu h1{
        width: 100%;
    }
    .ellipse-calcu label{
        margin: 0;
        font-size: 14px;
    }
    .ellipse-calcu input{
        width: 100%;
        margin: 0;
        padding: 8px 5px;
    }
    .answer-container{
        width: 100%;
        margin: 20px 0;
    }
    /*Steps*/
    .answer-container{
        margin: 10px 5px;
        width: 100%;
    }
    .answer-container .steps{
        padding: 5px 10px;
    }
} 