.container{
   display: flex; 
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
}  
header{
    text-align: center;
}
header .generalForm{
    background-color: #333;
    color: #fff;
    width: 300px;
    margin: 0 auto;
    padding: 10px 20px;
    border-radius: 20px;
}
.circleGF-container{
    width: 400px;
    margin: 50px ;
    padding: 20px;
    border: none;
    border-radius: 5px;
    border-radius: 20px;
    color:#333;
    border: solid;
 
}
.circleGF-container input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.transform {
    padding: 10px 20px;
    background-color: hsla(122, 60%, 48%, 0.659);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    display: flex;
    text-align: justify; 
    font-weight: bold;
}
/*YUNG ANSWERS*/
.circleGF-answer-container {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    width: 700px;
    height: 550px;
    padding: 20px;
    border: solid;
    display: none;
    font-weight: bold;
    background-color: #333;
    color: #fff;
}
.circleGF-answer-container .answer-title{
    font-size: 30px;
    background-color: green;
    margin: 0;
    padding: 10px 0;
    text-align: center;
}
.standard-form{
    word-spacing: 2px;
}
.standard-form h1{
    margin: 10px;
    font-size: 20px;
}
.standard-form div, .steps-container div{
    background-color: gray;
    margin: 10px 0px;
    padding: 7px 10px;
    font-size: 14px;
    width: 680px;
    word-spacing: 3px;
}
.steps-container h1{
    font-size: 13px;
}
.steps-container {
    height: 300px;
    margin-top: 10px;
    margin-bottom: 80px;
}
.circleGF-answer-container div{
    line-height: 30px;
    font-weight: bold;
}