.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}
.header{ 
    width: 100%;
}
.header h1{
    width: 500px;
    margin: 20px auto;
}
h1 {
    margin-bottom: 20px;
    font-size: 20px;
}

.input-container {
    margin-bottom: 20px;
    border: solid;
    padding: 50px;
}

.input-container label, .input-container input {
    display: block;
    margin-bottom: 10px;
}

.input-container input {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
} 

.input-container button {
    padding: 10px 20px;
    background-color: #007bff;
}
/*steps*/
.steps{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.steps div, .answer{
    background-color: #ccc;
    text-align: justify;
    letter-spacing: 2px;
    color: #333;
    margin: 0;
    padding: 6px 10px;
}
.step1{
    display: flex;
    color: #fff;
    align-items: center;
    text-align: center;
    align-content: center; 
}
.step1 .sign{
    font-size: 40px;
    font-weight: bold;
} 
.step1 .numeratorx, .numeratory{
    border-bottom: solid;
    font-size: 20px;
    margin: 0;
    
}
.step1 .denominatorx, .denominatory{
    text-align: center;
    margin: 0;
}
/**/
.result-container{
    border: solid;
    display: none;
    padding: 20px;
}

@media only screen and (max-width: 600px) {
    .result-container{
        font-size: 14px;
    }
    .steps h1{
        text-align: justify;
        font-size: 16px;
    }
    .steps div{
        margin: 0;
        padding: 5px;
    }
    .step1{
        width: 400px;
    }
    .lcd{
        font-size: 13px;
    }
}