*{
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --background-color: hsla(216, 96%, 9%, 0.807);
    --color: #fff;
    --header-background:#333;
    --answer-bg:hsla(0, 0%, 50%, 0.234);
}
/*LCM*/
.step1{
    font-size: 15px;
    font-weight: bold;
}
.lcmConst{
    margin-left: 10px;
}
/**/
.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}
.header{ 
    width: 100%;
}
.header h1{
    width: 500px;
    margin: 20px auto;
}
h1 {
    margin-bottom: 20px;
    font-size: 20px;
}

.input-container {
    margin-bottom: 20px;
    border: solid;
    border-radius: 10px;
    width: 300px;
    height: 100%;
    padding: 50px;
}

.input-container label, .input-container input {
    display: block;
    margin-bottom: 10px;
}

.input-container input {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
} 

.input-container button {
    padding: 10px 20px;
    background-color: #007bff;
}
/*steps*/
.steps{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: justify;
}
.steps div, .answer{
    background-color: var(--answer-bg);
    text-align: justify;
    letter-spacing: 2px;
    color: #333;
    margin: 0;
    padding: 10px 10px;
}
/**/
.result-container{
    border: solid;
    border-radius: 10px;
    display: none;
    padding: 20px;
}

@media only screen and (max-width: 643px) {
    *{

    }
    /*Header*/
    .header h1{
        font-size: 15px;
        text-align: center;
        width: 100%;
    }
    /*Input container*/
    .input-container {
        width: 100%;
    }
    /**/
    .result-container{
        font-size: 14px;
        width: 100%;
        margin: 0;
        padding: 10px;
    }
    .steps{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .steps h1{
        text-align: justify;
        font-size: 16px;
        margin: 5px 0;
    }
    .steps div{
        margin: 0;
        padding: 10px;
    }
    
}